html  {
    background-color: #00072d;
    box-sizing: border-box;
    min-height: 100%;
}

main {
    background-color: #00072d;;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */

}

.hero-carousel * {
    background-color: #00072d;

}



.carousel-item img {
    height: 50%;
    min-width: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }

.footer div {
    background-color: #A6E1FA;
    color: #0E6BA8;
}

svg {
    color: #0E6BA8;
}

.navbar {
    padding: 0%;
}

.navbar * {
    background-color: #A6E1FA;
    color: #0E6BA8;
}
